---
layout: home
title: Repo Reviews 
description: Make repos better, together.
permalink: /
---

<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">
  <p class="text-center">
    Support the community with a helpful ❤️ repo review ❤️
  </p>  
  <p class="text-center">
    <a href="https://github.com/repo-reviews/repo-reviews.github.io/blob/main/create.md" target="_blank" class="btn btn-outline">Create a review&rarr;</a>
  </p>
</section>

<section>
  <p class="text-center">
  Microsoft MVP <a href="https://github.com/JanDeDobbeleer">Jan De Dobbeleer</a> included repo-reviews in his <a href="https://github.com/JanDeDobbeleer/oh-my-posh">oh-my-posh</a> README... have you added a review me badge to your README?
</section>

<section class="">
  <div class="container-lg p-responsive py-5 py-md-6 ">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="testing">Recent Reviews</h2>
  <div>
    <!-- {% assign sorted = site.reviews | reverse %}
    -->
    {% assign sorted = site.reviews | sample:10 %}
    {% for review in sorted limit:10 %}
    <li>[<a href="https://repo-reviews.github.io/repos/{{review.repository_owner}}_{{review.repository_name}}">{{ review.repository_owner }}/{{ review.repository_name }}</a>] <a href="https://repo-reviews.github.io/authors/{{review.author_github_id}}">@{{ review.author_github_id}}</a> - <a href="https://repo-reviews.github.io/{{review.url | relative_url}}">{{ review.review_title }}</a></li>
    {% endfor %}
  </div>
</section>



<section class="">
  <div class="container-lg p-responsive py-5 py-md-6 ">
    <h2 class="alt-h2 text-center mb-3 mt-lg-6" id="testing">Highlighted Reviews (beta)</h2>
  <div>
    <!-- {% assign sorted = site.reviews | reverse %}
    -->
    {% assign sorted = site.reviews | sample:10 %}
    {% for review in sorted limit:5 %}
    <li>[<a href="https://repo-reviews.github.io/repos/{{review.repository_owner}}_{{review.repository_name}}">{{ review.repository_owner }}/{{ review.repository_name }}</a>] <a href="https://repo-reviews.github.io/authors/{{review.author_github_id}}">@{{ review.author_github_id}}</a> - <a href="https://repo-reviews.github.io/{{review.url | relative_url}}">{{ review.review_title }}</a></li>
    {% endfor %}
  </div>
</section>


<section id="contact-a-human" class="bg-gray-light">
  <div class="container-lg p-responsive py-5 py-md-6 text-center">
    <span class="text-center">
      {% octicon person height:42 class:"d-block mx-auto mb-4 text-center fill-gray" aria-label:person %}
    </span>
    <h3 class="alt-h2 mb-4">Add Repo Reviews badges to your repo</h3>
    <p>View our <a href="https://github.com/repo-reviews/repo-reviews.github.io/tree/main#add-badges">README.md</a> for details.</p>
  </div>
</section>
