{% include header.html %}

<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">

	<h2>Repo details</h2>
<hr>
	<h3><a href="https://github.com/{{ page.repository_owner }}/{{ page.repository_name }}">
            {% octicon mark-github height:24 class:"fill-gray-light d-inline" aria-label:github-logo %}
		</a> {{ page.repository_owner }}/{{ page.repository_name }}</h3>
	<br>
	  <p class="text-left">
	    <a href="https://github.com/repo-reviews/repo-reviews.github.io/blob/main/create.md" target="_blank" class="btn btn-outline">Create a review&rarr;</a>
	  </p>

	<a href="https://github.com/{{ page.repository_owner }}/{{ page.repository_name }}">
		<img align="center" src="https://github-readme-stats.vercel.app/api/pin/?username={{ page.repository_owner }}&repo={{ page.repository_name }}" alt="Repo stats"/>
	</a>

<hr>

<h2>Reviews</h2>
<ul>
  {% assign filtered_reviews = site.reviews | where: 'repository_name', page.repository_name %}
  {% for review in filtered_reviews %}
  <li>{{ review.date | date_to_string}} [<a href="https://repo-reviews.github.io/repos/{{review.repository_owner}}_{{review.repository_name}}">{{ review.repository_owner}}/{{review.repository_name}}</a>] <a href="https://repo-reviews.github.io/authors/{{review.author_github_id}}">@{{ review.author_github_id}}</a> - <a href="https://repo-reviews.github.io/{{review.url | relative_url}}">{{ review.review_title }}</a></li>
  {% endfor %}
</ul>

</section>

{% include footer.html %}
