{% include header.html %}

<section class="container-lg p-responsive py-5 py-md-6 my-lg-6">

	<h2>Review details</h2>
<hr>
<ul>
	<li><strong>Author:</strong> <a href="https://repo-reviews.github.io/authors/{{ page.author_github_id }}">@{{ page.author_github_id }}</a></li>
	<li><strong>Repo:</strong> <a href="https://repo-reviews.github.io/repos/{{ page.repository_owner }}_{{ page.repository_name }}">{{ page.repository_owner }}/{{ page.repository_name }}</a></li>
	<li><strong>Title:</strong> {{ page.review_title }}</li>
	<li><strong>Published on:</strong> {{ page.date | date_to_string }}</li>
</ul>

<hr>

{{ content }}

<br>
<hr>

</section>

{% include footer.html %}
